@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 20, ../../app/styles/_date_picker.scss */
.sm-calender-pane {
  display: block;
  position: fixed;
  z-index: 51;
  overflow: hidden;
  border-radius: 2px;
}
/* line 26, ../../app/styles/_date_picker.scss */
.sm-calender-pane.hide-animate {
  transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
  max-height: 0px;
  max-width: 0px;
}
/* line 34, ../../app/styles/_date_picker.scss */
.sm-calender-pane.show {
  transition: all 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
  max-height: 500px;
  max-width: 310px;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 960px) {
  /* line 48, ../../app/styles/_date_picker.scss */
  .sm-calender-pane {
    overflow: hidden;
  }
  /* line 50, ../../app/styles/_date_picker.scss */
  .sm-calender-pane.hide {
    animation: scaleDownCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
  }
  /* line 57, ../../app/styles/_date_picker.scss */
  .sm-calender-pane.show {
    animation: scaleUpCal 1s cubic-bezier(0.04, 1.01, 0.13, 1.02);
  }
}
/* line 67, ../../app/styles/_date_picker.scss */
.picker-container {
  border-radius: 2px;
}
/* line 69, ../../app/styles/_date_picker.scss */
.picker-container .container {
  width: 300px;
  height: 465px;
  border-radius: 2px;
  overflow: hidden;
}
/* line 75, ../../app/styles/_date_picker.scss */
.picker-container .container md-toolbar.md-height {
  height: 85px;
  padding-left: 10px;
}
/* line 79, ../../app/styles/_date_picker.scss */
.picker-container .container md-toolbar .md-toolbar-tools {
  text-align: left;
  padding: 5px;
}
/* line 82, ../../app/styles/_date_picker.scss */
.picker-container .container md-toolbar .md-toolbar-tools .date-time-header {
  font-size: 26px;
  line-height: 8px;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
}

/* line 98, ../../app/styles/_date_picker.scss */
.date-picker {
  padding: 0 3px;
  height: 325px;
}
/* line 102, ../../app/styles/_date_picker.scss */
.date-picker .year-container {
  height: 325px;
  animation: slideInDown 1s cubic-bezier(0.06, 0.61, 0.04, 1.03);
  margin-top: 40px;
}
/* line 106, ../../app/styles/_date_picker.scss */
.date-picker .year-container .year-md-repeat {
  height: 300px;
  width: 300px;
}
/* line 109, ../../app/styles/_date_picker.scss */
.date-picker .year-container .year-md-repeat .md-virtual-repeat-container {
  text-align: center;
  width: 240px;
  height: 300px;
}
/* line 114, ../../app/styles/_date_picker.scss */
.date-picker .year-container .year-md-repeat .repeated-item {
  box-sizing: border-box;
  height: 45px;
  margin: 0 100px;
}
/* line 118, ../../app/styles/_date_picker.scss */
.date-picker .year-container .year-md-repeat .repeated-item .md-button {
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
/* line 125, ../../app/styles/_date_picker.scss */
.date-picker .year-container .year-md-repeat .repeated-item .selected-year {
  font-size: 20px;
}
/* line 133, ../../app/styles/_date_picker.scss */
.date-picker .date-container .navigation {
  height: 40px;
}
/* line 135, ../../app/styles/_date_picker.scss */
.date-picker .date-container .navigation .md-button {
  text-transform: capitalize;
  font-weight: bold;
}
/* line 141, ../../app/styles/_date_picker.scss */
.date-picker .date-container > .date-cell-header {
  cursor: default;
}
/* line 144, ../../app/styles/_date_picker.scss */
.date-picker .date-container > .date-cell-header > .md-button.md-icon-button {
  opacity: 1;
}
/* line 151, ../../app/styles/_date_picker.scss */
.date-picker .date-container .date-cell-row .md-button.md-icon-button {
  margin: 2px 0 2px 2px;
}
/* line 153, ../../app/styles/_date_picker.scss */
.date-picker .date-container .date-cell-row .md-button.md-icon-button[disabled] {
  cursor: default;
  background-color: transparent;
}
/* line 157, ../../app/styles/_date_picker.scss */
.date-picker .date-container .date-cell-row .md-button.md-icon-button:hover:not(.disabled):not(.selected) {
  background-color: #E0E0E0;
}

/* line 167, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container {
  overflow-y: hidden;
  max-height: 450px;
  /* approximate max height */
  height: 325px;
  width: 150px;
  margin: 0 auto;
  animation: slideInUp 1s cubic-bezier(0.06, 0.61, 0.04, 1.03);
}
/* line 174, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .hour-header {
  height: 24px;
  text-align: center;
}
/* line 177, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .hour-header span {
  color: grey;
  font-size: 15px;
  font-weight: bold;
}
/* line 183, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .hour-md-repeat {
  float: left;
  height: 301px;
  width: 70px;
}
/* line 187, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .hour-md-repeat .md-virtual-repeat-container {
  text-align: center;
  height: 445px;
}
/* line 191, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .hour-md-repeat .repeated-item {
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  height: 43px;
}
/* line 196, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .hour-md-repeat .repeated-item span {
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
/* line 206, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .minute-md-repeat {
  float: right;
  height: 301px;
  width: 70px;
}
/* line 210, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .minute-md-repeat .md-virtual-repeat-container {
  text-align: center;
  height: 445px;
}
/* line 214, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .minute-md-repeat .repeated-item {
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
  height: 43px;
}
/* line 219, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .minute-md-repeat .repeated-item span {
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
/* line 226, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .minute-md-repeat .repeated-item span.current {
  border-color: #106CC8;
}
/* line 229, ../../app/styles/_date_picker.scss */
.hour-picker .hour-container .minute-md-repeat .repeated-item span.selected {
  color: #106CC8;
}

/* line 237, ../../app/styles/_date_picker.scss */
.action {
  height: 40px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 244, ../../app/styles/_date_picker.scss */
.md-virtual-repeat-container .md-virtual-repeat-scroller {
  right: -21px;
  padding-right: 20px;
}

/* line 248, ../../app/styles/_date_picker.scss */
.slideLeft {
  animation: slideInLeft 500ms cubic-bezier(0.06, 0.61, 0.04, 1.03);
}

/* line 251, ../../app/styles/_date_picker.scss */
.slideRight {
  animation: slideInRight 500ms cubic-bezier(0.06, 0.61, 0.04, 1.03);
}

/* line 256, ../../app/styles/_date_picker.scss */
.range-picker {
  width: 310px;
  height: 500px;
  background-color: #fff;
}
/* line 260, ../../app/styles/_date_picker.scss */
.range-picker .header {
  font-size: calc($font-size + 2);
}
/* line 262, ../../app/styles/_date_picker.scss */
.range-picker .header .date-display {
  width: 130px;
  padding: 2px;
}
/* line 266, ../../app/styles/_date_picker.scss */
.range-picker .header .divider-display {
  width: 20px;
  font-size: 13px;
  padding: 2px;
}
/* line 272, ../../app/styles/_date_picker.scss */
.range-picker .pre-select {
  height: 390px;
}
/* line 274, ../../app/styles/_date_picker.scss */
.range-picker .pre-select .md-button {
  padding: 0;
}
/* line 278, ../../app/styles/_date_picker.scss */
.range-picker .custom-select {
  height: 390px;
  overflow: hidden;
}
/* line 282, ../../app/styles/_date_picker.scss */
.range-picker .custom-select.show-calender > .tab-head {
  height: 43px;
  text-align: center;
  line-height: 35px;
}
/* line 286, ../../app/styles/_date_picker.scss */
.range-picker .custom-select.show-calender > .tab-head span {
  color: #ede8e8;
  width: 50%;
}
/* line 289, ../../app/styles/_date_picker.scss */
.range-picker .custom-select.show-calender > .tab-head span.active {
  animation-property: border-bottom;
  color: inherit;
  border-bottom: 2px solid #FF5252;
}
/* line 293, ../../app/styles/_date_picker.scss */
.range-picker .custom-select.show-calender > .tab-head span.active.moveLeft {
  animation: slideInLeft 1s cubic-bezier(0.06, 0.61, 0.04, 1.03);
}
/* line 296, ../../app/styles/_date_picker.scss */
.range-picker .custom-select.show-calender > .tab-head span.active.moveRight {
  animation: slideInRight 1s cubic-bezier(0.06, 0.61, 0.04, 1.03);
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* line 318, ../../app/styles/_date_picker.scss */
.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* line 334, ../../app/styles/_date_picker.scss */
.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* line 349, ../../app/styles/_date_picker.scss */
.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/* line 364, ../../app/styles/_date_picker.scss */
.slideInDown {
  animation-name: slideInDown;
}
/* Standard syntax */
@keyframes scaleUpCal {
  0% {
    /* IE 9 */
    /* Safari */
    transform: scale(0.5, 0.5);
  }
  100% {
    /* IE 9 */
    /* Safari */
    transform: scale(1, 1);
  }
}
/* Standard syntax */
@keyframes scaleDownCal {
  0% {
    /* IE 9 */
    /* Safari */
    transform: scale(1, 1);
  }
  100% {
    /* IE 9 */
    /* Safari */
    transform: scale(0.5, 0.5);
  }
}
/* Standard syntax */
@keyframes moveUp {
  0% {
    /* IE 9 */
    /* Safari */
    transform: top;
  }
  100% {
    /* IE 9 */
    /* Safari */
    transform: top;
  }
}
/* menu css  */
/* line 8, ../../app/styles/_side-menu.scss */
md-sidenav {
  background-color: #106CC8;
}

/* line 12, ../../app/styles/_side-menu.scss */
.bg-profile {
  height: 200px;
  background-color: #106CC8;
  background: linear-gradient(#185694, #106CC8);
  background: linear-gradient(top, #185694 0%, #106CC8 100%);
  border-bottom: 1px solid #267ED5;
  flex-shrink: 0;
  z-index: 2;
}

/* line 26, ../../app/styles/_side-menu.scss */
.profile {
  color: white;
}
/* line 28, ../../app/styles/_side-menu.scss */
.profile .profile-img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgba(6, 55, 102, 0.5);
  margin-top: 15px;
  width: auto;
  transform-origin: 50% 0;
  transform: scale(1.1);
}
/* line 39, ../../app/styles/_side-menu.scss */
.profile .profile-name {
  font-size: 24px;
  text-align: center;
  padding: 5px;
}
/* line 44, ../../app/styles/_side-menu.scss */
.profile .material-icons {
  outline: none;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}
/* line 50, ../../app/styles/_side-menu.scss */
.profile .show {
  font-size: 24px;
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}
/* line 55, ../../app/styles/_side-menu.scss */
.profile .profile-details {
  text-align: center;
  transition: height 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
/* line 59, ../../app/styles/_side-menu.scss */
.profile .detail-show {
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: height 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
/* line 65, ../../app/styles/_side-menu.scss */
.profile.profile-email {
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 2px 5px 0px 5px;
}

/* line 73, ../../app/styles/_side-menu.scss */
.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  font-size: 16px;
}

/* line 82, ../../app/styles/_side-menu.scss */
.side-menu .md-button {
  background-color: #106CC8;
  border-radius: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  margin: 0;
  max-height: 48px;
  overflow: hidden;
  padding-left: 0px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}
/* line 97, ../../app/styles/_side-menu.scss */
.side-menu .md-button md-icon {
  padding: 0px 16px;
  color: rgba(255, 255, 255, 0.7);
}

/* line 106, ../../app/styles/_side-menu.scss */
.side-menu .menu-toggle-list a.md-button {
  display: block;
  font-weight: bold;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  height: 48px;
}

/* line 116, ../../app/styles/_side-menu.scss */
.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 60px;
  text-transform: none;
}

/* line 121, ../../app/styles/_side-menu.scss */
.side-menu > li {
  border-top: 1px solid #267ED5;
  /* rgba(0, 0, 0, 0.12) */
}

/* line 125, ../../app/styles/_side-menu.scss */
.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

/* line 130, ../../app/styles/_side-menu.scss */
.side-menu .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  float: right;
  display: inline-block;
  margin: auto 0 auto 0;
  color: rgba(255, 255, 255, 0.7);
  transition: transform .3s ease-in-out;
}

/* line 140, ../../app/styles/_side-menu.scss */
.menu-toggle-list.ng-hide {
  max-height: 0;
}

/* line 145, ../../app/styles/_side-menu.scss */
.side-menu .md-button:hover {
  background-color: #267ED5;
}

/* line 149, ../../app/styles/_side-menu.scss */
.menu-toggle-list {
  background: #106CC8;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

/* line 164, ../../app/styles/_side-menu.scss */
.side-menu menu-toggle span {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 169, ../../app/styles/_side-menu.scss */
.toogle {
  transition: all linear 0.5s;
}

/* line 173, ../../app/styles/_side-menu.scss */
.toogle.ng-hide {
  opacity: 0;
}

/* line 177, ../../app/styles/_side-menu.scss */
.header-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* line 1, ../../app/styles/_time_picker.scss */
.sm-clock {
  width: 250px;
  height: 250px;
  background-color: red;
  position: relative;
  padding: 24px;
  box-sizing: border-box;
  background: #ededed;
  border-radius: 50%;
}
/* line 12, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
/* line 17, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number {
  margin: 0;
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* line 24, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number11 {
  top: 0;
  left: 50%;
}
/* line 29, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number0 {
  top: 6.69872981%;
  left: 75%;
}
/* line 34, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number1 {
  top: 25%;
  left: 93.30127019%;
}
/* line 39, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number2 {
  top: 50%;
  left: 100%;
}
/* line 44, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number3 {
  top: 75%;
  left: 93.30127019%;
}
/* line 49, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number4 {
  top: 93.30127019%;
  left: 75%;
}
/* line 54, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number5 {
  top: 100%;
  left: 50%;
}
/* line 59, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number6 {
  top: 93.30127019%;
  left: 25%;
}
/* line 64, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number7 {
  top: 75%;
  left: 6.69872981%;
}
/* line 69, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number8 {
  top: 50%;
  left: 0;
}
/* line 74, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number9 {
  top: 25%;
  left: 6.69872981%;
}
/* line 79, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number10 {
  top: 6.69872981%;
  left: 25%;
}
/* line 84, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-container .hour-number360 {
  top: 0;
  left: 50%;
}
/* line 89, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-center {
  min-height: 0px;
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
/* line 101, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand {
  position: absolute;
  height: 50%;
  width: 3px;
  margin: 0 auto;
  transform-origin: top center;
  /*         transition: all .5s linear;
          animation-fill-mode: forwards; */
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 113, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-0 {
  transform: rotate(210deg);
}
/* line 116, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-1 {
  transform: rotate(240deg);
}
/* line 119, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-2 {
  transform: rotate(270deg);
}
/* line 122, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-3 {
  transform: rotate(300deg);
}
/* line 125, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-4 {
  transform: rotate(330deg);
}
/* line 128, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-5 {
  transform: rotate(360deg);
}
/* line 131, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-6 {
  transform: rotate(30deg);
}
/* line 134, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-7 {
  transform: rotate(60deg);
}
/* line 137, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-8 {
  transform: rotate(90deg);
}
/* line 140, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-9 {
  transform: rotate(120deg);
}
/* line 143, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-10 {
  transform: rotate(150deg);
}
/* line 146, ../../app/styles/_time_picker.scss */
.sm-clock .sm-clock-hand.sm-clock-hand-11 {
  transform: rotate(180deg);
}

/* line 10, ../../app/styles/main.scss */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

/* line 16, ../../app/styles/main.scss */
.body-bg {
  background: #e2e0e0;
}

/* line 21, ../../app/styles/main.scss */
.md-sidenav-left {
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 28, ../../app/styles/main.scss */
.right-container {
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #e2e0e0;
}

/* line 36, ../../app/styles/main.scss */
.main-container {
  padding: 16px;
  height: 100vh;
  background: #e2e0e0;
  overflow-y: auto;
  overflow-x: hidden;
}

/* line 45, ../../app/styles/main.scss */
.md-content {
  margin: 16px;
}

/* line 50, ../../app/styles/main.scss */
.material-icons.md-18 {
  font-size: 18px;
}

/* line 51, ../../app/styles/main.scss */
.material-icons.md-24 {
  font-size: 24px;
}

/* line 52, ../../app/styles/main.scss */
.material-icons.md-30 {
  font-size: 30px;
}

/* line 53, ../../app/styles/main.scss */
.material-icons.md-36 {
  font-size: 36px;
}

/* line 54, ../../app/styles/main.scss */
.material-icons.md-48 {
  font-size: 48px;
}

/* line 57, ../../app/styles/main.scss */
p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}

/* line 66, ../../app/styles/main.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  outline: none;
}
/* line 71, ../../app/styles/main.scss */
table td, table th {
  padding: 3px;
  margin: 0;
}
/* line 75, ../../app/styles/main.scss */
table th {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
  cursor: pointer;
  height: 54px;
  white-space: nowrap;
  position: relative;
  border-bottom: solid 1px rbga(0, 0, 0, 1);
  text-align: left;
}
/* line 86, ../../app/styles/main.scss */
table td {
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
  font-size: 15px;
  color: #212121;
  border-bottom: solid 1px rbga(0, 0, 0, 1);
}
/* line 94, ../../app/styles/main.scss */
table td:first-child, table th:first-child {
  padding: 0 0 0 24px;
}

/* line 100, ../../app/styles/main.scss */
code p {
  font-family: Consolas, Courier New, monospace;
  font-size: 14px;
  background-color: #e0d7d7;
  padding: 8px;
  border-radius: 5px;
}